@use "../../../assets/Font";
@use "../../../assets/Mix";
.asanBtc_field {
  margin: 0.5rem auto;
  div {
    display: flex;
    align-items: center;
    padding: 0.25rem 0;

    svg {
      color: var(--border-color);
    }
    span {
      //@include Mix.lable-text;
    }
  }
  > input {
    //@include Mix.border-card;
    //border: none;
    //box-shadow: var(--box-shadow);

    width: 100%;
    height: 52px;
    text-align: left;
    color: var(--main-pen);

    &:focus-visible {
      outline: 0px solid white;
    }
    &::placeholder {
     // @include Font.Text300;
    }
  }
  >input.error{
    border-color: var(--error);
  }
  >input.success{
    border-color: var(--success);
  }
}
