@use "../../../../assets/Mix.scss";
@use "../../../../assets/Font.scss";

.textarea_field {
  margin: 0.25rem auto;
  width: 100%;
  height: auto;
  div {
    display: flex;
    align-items: center;
    height: auto;
    width: 100%;
    svg {
      color: var(--border-color);
    }
    span {
      @include Mix.lable_text;
    }
  }
  textarea {
    @include Font.Text300;
    @include Mix.border;
    width: 100%;
    display: block;
    padding: 1rem;
    height: 95px;
    resize: none;
    text-align: var(--site-side);
    color: var(--main-pen);
    &::placeholder {
      text-align: right;
    }

    &:focus-visible {
      outline: 0px solid white;
    }
    &::placeholder {
      @include Font.Text300;
    }
  }
  .error {
    border-color: var(--error) !important;
  }
  .success {
    border-color: var(--success) !important;
  }
}

.error_box {
  @include Font.Text200;
  color: var(--error);
  margin-top: 0 !important;
}
