@font-face {
  font-family: "Poppins-Light";
  src: url("./assets/fonts/Poppins-Light.ttf");
  src: url("./assets/fonts//Poppins-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("./assets/fonts/Poppins-Medium.ttf");
  src: url("./assets/fonts//Poppins-Medium.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("./assets/fonts/Poppins-Regular.ttf");
  src: url("./assets/fonts//Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("./assets/fonts/Poppins-SemiBold.ttf");
  src: url("./assets/fonts//Poppins-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --primary: #00a9ac;
  --bg-color: #fafafa;
  --main-pen: #757575;
  --dark-gray: #585858;
  --border-color: #cecece;
  --success: #12c258;
  --light: #f3f3f3;
  --error: #f21212bc;
  --light-gray: #cecece77;
  --light-pen: #eee;
  /* fonts */
  --semibold: "Poppins-SemiBold";
  --medium: "Poppins-Medium";
  --regular: "Poppins-Regular";
  --light-weight: "Poppins-Light";
  /* general */
  --box-shadow: 0px 4px 8px rgba(169, 169, 169, 0.11);
  --fast-transition: all 0.5s ease-out;
  --carve: 6px;
  --box-carve: 12px;
}
body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
}
* {
  box-sizing: border-box;
}
